.menu-list {
  list-style: none;
}

.menu-item {
  font-family: 'Secret Admirer';
  font-size: 3.75rem;
  line-height: 1;
}

.link {
  color: #434343;
  text-decoration: none;
}

.link:hover,
.menu-item {
  color: #8cb9bd;
  cursor: pointer;
}